html {
	width: 100%;
	height: 100%;
}

header {
	background: rgb(224, 165, 165);
	height: 50PX;
	padding: 20px 0;
	width: 100%;
}

h1 {
    text-align: center;
	font-size: 30px;
}
h3 {
    text-align: left;
	font-size: 20px;
}
h4{
    text-align: right;
	font-size: 20px;
}

#menu {
    width: 20%;
    height: 600px;
    background-color: rgb(253, 165, 165);
    float: left;
    margin-top: 10px;
}

#principal {
    width: 80%;
    height: 600px;
    background-color:rgb(255, 255, 255);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#exercicio1 {
	width: 50%;
    height: 600px;
    float: left;
}
#exercicio1nocss {
	
    width: 20%;
    height: 400px;
    float: left;
}
#exercicio2nocss {
	
    width: 15%;
    height: 400px;
    float: right;
}
p {
    text-align: left;
    font-size: 20px;
}

.imagemcomputacional {
    width: 35%;
    height: 400px;
    padding: 100px;
    text-align: center;
}
